// filepath: c:\Users\axelh\Documents\AVATAR GAMER\avatar-gamer\src\app\jitsi\jitsi-call\jitsi-call.component.scss
:host {
  display: block;
  width: 100%;
  height: 100%;
}
div {
  width: 100%;
  height: 500px; /* O el alto que necesites */
}