<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="5" class="controls-col">
        <app-robot-controls></app-robot-controls>
      </ion-col>
      <ion-col size="7" class="jitsi-col">
        <!-- WebRTC Nativo -->
        <app-webrtc-call
          [roomId]="'avatar-gamer-room'"
          [userName]="'Operador Demo'"
          [signalingServerUrl]="'https://jitsi-meet-api-ionic-angular-production.up.railway.app'">
        </app-webrtc-call>
        
        <!-- Jitsi (comentado temporalmente) -->
        <!--
        <app-jitsi-call
          [roomName]="'avatar-gamer-demo'"
          [displayName]="'Operador Demo'">
        </app-jitsi-call>
        -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>